h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  h2 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  
  p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding-left: 20px;
    text-align: center;
  }
  
  li {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }

.image-container {
  float: right;
  width: 30%;
}

.text-container {
  float: left;
  width: 70%;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: auto;
  height: auto;
}
body {
  background-image: url('/images/360_F_189610906_zwAmM9375UK5kZQUqmhGVcWAGtZAooNe.jpg');
  background-color: #999999;
  text-align: center;
}
 /* unvisited link */
 a:link {
  color: rgb(204, 124, 124);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(255, 0, 128);
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
} 
